<section class="projects">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title">Proyectos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="project-item">
          <h3 class="project-title">Proyecto</h3>
          <p class="project-date">Fecha de realización: 01/01/1111</p>
          <p class="project-description">Descripción del proyecto.</p>
          <a href="#" class="project-link">Verificar proyecto</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="project-item">
          <h3 class="project-title">Proyecto</h3>
          <p class="project-date">Fecha de realización: 01/01/1111</p>
          <p class="project-description">Descripción del proyecto.</p>
          <a href="#" class="project-link">Verificar proyecto</a>
        </div>
      </div>
      <!-- Agrega más proyectos según sea necesario -->
    </div>
  </section>
  
  
