<div class="container-fluid">
<div class="row">
    <h2>Hard and Soft Skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [space]="-5"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#76C2AF'"
        [innerStrokeColor]="'#ffffff'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [imageSrc]="'../assets/html.svg'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [space]="-5"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#76C2AF'"
        [innerStrokeColor]="'#ffffff'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [imageSrc]="'../assets/javascript.svg'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [space]="-5"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#76C2AF'"
        [innerStrokeColor]="'#ffffff'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [imageSrc]="'../assets/css3.svg'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [space]="-5"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#76C2AF'"
        [innerStrokeColor]="'#ffffff'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [imageSrc]="'../assets/resolve.png'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [space]="-5"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#76C2AF'"
        [innerStrokeColor]="'#ffffff'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [imageSrc]="'../assets/persuasion.png'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [space]="-5"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#76C2AF'"
        [innerStrokeColor]="'#ffffff'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [imageSrc]="'../assets/comunicacion.png'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
</div>
</div>